<body style="background-image: url('/assets/start_page.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
    <div class="start_page">
        <a href="/users/auth/marvin"><button class="button_log_intra42", style="margin-top: 100px;"><img style="width: 60px; border-radius: 20px; margin-top: 20px;" src="/assets/Intra42_logo.jpeg" alt="Login in Marvin"> <p style="margin-top: -10px;">Log in Intra 42</p></button></a>
    </div>
<body>