h1 {
    color: white;
    text-align: center;
    font-family: fantasy;
}

header {
    background-color: #68686800;
}

.start_page {
    text-align: center;
    padding-bottom: 25px;
    margin-block-start: -1.5em;
    padding-top: 300px;
}

.button_start_game {
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid #8CDB39;
    border-radius: 3px;
    background: #82ca35;
    font-family: fantasy;
}

.button_start_game:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.main_pages {
    min-width: 1000px;
    padding-top: 15px;
    /* border: 10px solid; */
}

.block_main_pages {
    min-width: 498px;
    min-height: 320px; 
    display:inline-block;
    align-content: left;
}

.block_main_pages_one {
    color: white;
    position: absolute;
    margin-left: 250px;
}

.button_edit_profile {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid #8CDB39;
    border-radius: 3px;
    background: #82ca35;
    font-family: fantasy;
}

.button_edit_profile:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.button_view_guild {
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid #6f2da0;
    border-radius: 3px;
    background: #6f2da0;
    font-family: fantasy;
}

.button_view_guild:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.button_leave_guild {
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid #d23d25;
    border-radius: 3px;
    background: #d23d25;
    font-family: fantasy;
}

.button_leave_guild:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.button_make_officer {
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgb(204, 133, 25);
    border-radius: 3px;
    background: rgb(204, 133, 25);
    font-family: fantasy;
}

.button_make_officer:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.button_send_invite {
    margin-top: 2px;
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid #8CDB39;
    border-radius: 3px;
    background: #8CDB39;
    font-family: fantasy;
}

.button_send_invite:hover {
    border: 1px solid #76B7E9;
    border-radius: 3px;
    background: #76B7E9;
}

.friends {
    font-family: fantasy;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #3535357a;
    padding: 10px;
    border-radius: 10px;
    border: #686868 solid 1px;
}

.text_sign_up
{
    margin-top: 10px;
    width: 240px;
    height: 22px;
    border-radius: 9px;
    background-color: #3535357a;
    border: #686868 solid 1px;
    color: white;
    text-align: center;
    font-family: fantasy;
}

.button_log_intra42 {
    margin-top: 2px;
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 5px 1.7em;
    outline: none;
    border: #686868 solid 1px;
    border-radius: 100px;
    background-color: #3535357a;
    font-family: fantasy;
}

.button_log_intra42:hover {
    border: 1px solid #6eaf2881;
    border-radius: 100px;
    background: #6eaf2881;
}

.head_menu {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

header a {
    color: white;
    text-align: center;
    margin-left: 10px;
}

.logo {
    margin-bottom: -5px;
    margin-top: 25px; 
    height: 40;
    width: 40;
}

.avatar:active {
    border: 1px solid #ff7c01;
    border-radius: 4px;
}
