version: "3.9"
services:
  db:
    image: postgres:12.1
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: root
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: game
  redis:
    image: redis:latest
    command: redis-server
  web:
    build: .
    command: bash -c "cd ../ && sh start.sh"
    image: server
    ports:
        - "3000:3000"
    depends_on: 
        - db
        - redis
    environment:
      FT_ID: 5aca6d2b8d03bd85d8c945b15b9cbf7c53275f4a697916e79429a799162f688c 
      FT_SECRET: a895f2b0c1a6873101ae79d76703bb1c41e3c159eaf04400a50d4275b059a260
    deploy:
      restart_policy:
        condition: on-failure
