<body style="text-align: center; background-image: url('/assets/profile.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
</br><h1>Editing User</h1>
<%= render 'form', user: current_user %>
<%= link_to 'Back to profile', profiles_path, class: "button_make_officer"  %>
<%= link_to 'Rating shop', rating_shop_path, class: "button_make_officer"  %>
</body>