<body style="background-color: black; font-family: 'Roboto', sans-serif; text-align: center;">

<h1>Editing User</h1>
<li> <%= render 'form', user: current_user %>
<%= link_to 'Back to profile', profiles_path, class: "button_make_officer"  %></li>
</body>