<body style="background-image: url('/assets/guild.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
<div style="width: 1000px;margin: auto;height: 100%;">
    <div class="main_pages" style="border-color: white; text-align: center;">
        <h1>Start guild war</h1>
        <h1><%= @g1 %> VS <%= @g2 %></h1>
        <h3><%= @guilds %></h3>
        <%= link_to "Submit", update_war_path, class: "button_edit_profile" %></br>
        <table class="list_guilds" style="width: 500px;">
        </br>
        <tr><td>Name</td><td>Anagram</td><td>Rating</td><td>Description</td><td>View</td></tr>
        </table>
    </div>
</div>
</body>
