
<body style="background-image: url('/assets/about_us.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">   
<h1>Creators</h1>
</body>
<div class="slider_wrapper" style="margin-top: 160px;">
<a style="margin-left: auto; padding-right: 15px;" id="prev"><img style="width: 100px; height: 29px;" src="/assets/arrow_left.png" alt="prev"></a>
  <div class="myslide">
    <div class="wrap" style="text-align: -webkit-center;">
    <div class="card">
        <div class="front">
            <span>
            <div class="friends" style="width: 300px; height: 600px;">
                <div class="friends" style="width: 200px; height: 335px;">
                    <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_sjakku.gif" alt="toppho08.jpg">
                    <p style="text-align: center; font-size: 20px; margin-top: 9px;">Sjakku</p>
                </div>
                <p class="line"></p>
                <p>
                Sjakku was the first Cub3D Hunter in history, proclaimed Lord of Kubernetes, and also the progenitor of this project. Sjakku was an unusually gifted student whose power became difficult to assess after her lightning-fast growth from becoming a Cub3D hunter.
                </p>
                <p class="line"></p>
            </div>
            </span>
        </div>
        <div class="back">
            <span>
            <div class="friends" style="width: 300px; height: 600px;">
                <h1>Danila Kozlov</h1>
                <h1>Main developer</h1>
                <img style="width: 300px; border-radius: 15px; height: 105px; border: #686868" src="https://badge42.herokuapp.com/api/stats/sjakku?privacyEmail=true" />
                <h1 style="margin-top: 3px;">Created:</h1>
                <div style="text-align: center;">
                    <p style="margin-top: -20px;">Registration system</p>
                    <p>Guild system</p>
                    <p>Profile system</p>
                    <p>Friends system</p>
                    <p class="line"></p>
                    <a href="https://github.com/dk2la"><img style="width: 50px; height: 50px;" src="/assets/GitHub_logo.png" /></a>
                    <a href="https://profile.intra.42.fr/users/sjakku"><img style="width: 50px; height: 50px; border-radius: 100px;" src="/assets/Intra42_logo.jpeg" /></a>
                    <p class="line"></p>
                </div>
            </div>
            </span>
        </div>
    </div>
    </div>
  </div>

  <div class="myslide">
  <div class="wrap" style="text-align: -webkit-center;">
  <div class="card">
      <div class="front">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <div class="friends" style="width: 200px; height: 335px;">
                  <img style="width: 190px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_atomatoe.gif" alt="toppho08.jpg">
                  <p style="text-align: center; font-size: 20px; margin-top: 9px;">Atomatoe</p>
              </div>
              <p class="line"></p>
              <p>
              The lord and master of design, which he telepathically rules from his throne, which stands at the top of the Transcendence field.
              Are you talking about the frontend? About design? I'll show you what a real frontend is ... and introduce you to the justice of design.
              </p>
              <p class="line"></p>
          </div>
          </span>
      </div>
      <div class="back">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <h1>Ruslan Enikeev</h1>
              <h1>Frontend developer</h1>
              <img style="width: 300px; border-radius: 15px; height: 105px; border: #686868" src="https://badge42.herokuapp.com/api/stats/atomatoe?privacyEmail=true" />
              <h1 style="margin-top: 3px;">Created:</h1>
              <div style="text-align: center;">
                  <p style="margin-top: -20px;">Frontend</p>
                  <p>Design</p>
                  <p>Text</p>
                  <p>Avatars</p>
                  <p class="line"></p>
                  <a href="https://github.com/atomatoe"><img style="width: 50px; height: 50px;" src="/assets/GitHub_logo.png" /></a>
                  <a href="https://profile.intra.42.fr/users/atomatoe"><img style="width: 50px; height: 50px; border-radius: 100px;" src="/assets/Intra42_logo.jpeg" /></a>
                  <p class="line"></p>
              </div>
          </div>
          </span>
      </div>
  </div>
</div>
</div>

<div class="myslide">
<div class="wrap" style="text-align: -webkit-center;">
  <div class="card">
      <div class="front">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <div class="friends" style="width: 200px; height: 335px;">
                  <img style="width: 180px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_flavon.gif" alt="toppho08.jpg">
                  <p style="text-align: center; font-size: 20px; margin-top: 9px;">Flavon</p>
              </div>
              <p class="line"></p>
              <p>
              Flavon is the king of the Minishell kingdom. During the Second War, he protected Minishell from leaks. He founded the Swift Learning League.
              Years later, Flavon returned as "Helper". During the ritual, he became associated with the very soul of Transcendence.
              </p>
              <p class="line"></p>
          </div>
          </span>
      </div>
      <div class="back">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <h1>Artur Lutfullin</h1>
              <h1>Developer</h1>
              <img style="width: 300px; border-radius: 15px; height: 105px; border: #686868" src="https://badge42.herokuapp.com/api/stats/flavon?privacyEmail=true" />
              <h1 style="margin-top: 3px;">Created:</h1>
              <div style="text-align: center;">
                  <p style="margin-top: -20px;">Chat system</p>
                  </br>
                  </br>
                  </br>
                  </br>
                  <p class="line"></p>
                  <a href="https://github.com/Groosove"><img style="width: 50px; height: 50px;" src="/assets/GitHub_logo.png" /></a>
                  <a href="https://profile.intra.42.fr/users/flavon"><img style="width: 50px; height: 50px; border-radius: 100px;" src="/assets/Intra42_logo.jpeg" /></a>
                  <p class="line"></p>
              </div>
          </div>
          </span>
      </div>
  </div>
</div>
  </div>

<div class="myslide">
<div class="wrap" style="text-align: -webkit-center;">
  <div class="card">
      <div class="front">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <div class="friends" style="width: 200px; height: 335px;">
                  <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_welease.gif" alt="toppho08.jpg">
                  <p style="text-align: center; font-size: 20px; margin-top: 9px;">Welease</p>
              </div>
              <p class="line"></p>
              <p>
              Welease is the daughter of the King of Hysterics and the empress of the programming kingdom. She is the best programmer in all teams in the world.
              If you think to say that she is a bad programmer, you are already dead or you are immortal.</p>
              <p class="line"></p>
          </div>
          </span>
      </div>
      <div class="back">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <h1>Tanzilya Farruhshina</h1>
              <h1>Support</h1>
              <div style="text-align: center;">
                  <p class="line"></p>
                  <a href="https://github.com/Welease"><img style="width: 50px; height: 50px;" src="/assets/GitHub_logo.png" /></a>
                  <a href="https://profile.intra.42.fr/users/welease"><img style="width: 50px; height: 50px; border-radius: 100px;" src="/assets/Intra42_logo.jpeg" /></a>
                  <p class="line"></p>
              </div>
          </div>
          </span>
      </div>
  </div>
</div>
  </div>

<div class="myslide">
<div class="wrap" style="text-align: -webkit-center;">
  <div class="card">
      <div class="front">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <div class="friends" style="width: 200px; height: 335px;">
                  <img style="width: 210px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_memilio.gif" alt="toppho08.jpg">
                  <p style="text-align: center; font-size: 20px; margin-top: 9px;">Memilio</p>
              </div>
              <p class="line"></p>
              <p>
              The king of parties who loves to relax in the Ufa kingdom, namely in the Botanika tavern. Memilio is a warrior of the old guard, once a great warrior who left his service far away in his youth. 10 years of service in the war of programmers made themselves felt.
              </p>
              <p class="line"></p>
          </div>
          </span>
      </div>
      <div class="back">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <h1>Sergey Abramov</h1>
              <h1>Support</h1>
              <div style="text-align: center;">
                  <p class="line"></p>
                  <a href="https://github.com/absergx"><img style="width: 50px; height: 50px;" src="/assets/GitHub_logo.png" /></a>
                  <a href="https://profile.intra.42.fr/users/memilio"><img style="width: 50px; height: 50px; border-radius: 100px;" src="/assets/Intra42_logo.jpeg" /></a>
                  <p class="line"></p>
              </div>
          </div>
          </span>
      </div>
  </div>
</div>
  </div>



  <div class="myslide">
<div class="wrap" style="text-align: -webkit-center;">
  <div class="card">
      <div class="front">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <div class="friends" style="width: 200px; height: 335px;">
                  <img style="width: 190px; display: block; margin-left: auto; margin-right: auto;" src="/assets/about_kirokaze.gif" alt="toppho08.jpg">
                  <p style="text-align: center; font-size: 20px; margin-top: 9px;">Kirokaze</p>
              </div>
              <p class="line"></p>
              <p>The king of pixel art. Thanks for your work, it's great!</p>
              <p class="line"></p>
          </div>
          </span>
      </div>
      <div class="back">
          <span>
          <div class="friends" style="width: 300px; height: 600px;">
              <h1>Gerardo Quiroz</h1>
              <h1>Digital Art</h1>
              <h1 style="margin-top: 3px;"></h1>
              <div style="text-align: center;">
                  <p class="line"></p>
                  <a href="https://twitter.com/kirokaze?lang=ru"><img style="width: 50px; height: 50px;" src="/assets/twitter_logo.png" /></a>
                  <a href="https://www.deviantart.com/kirokaze"><img style="width: 50px; height: 50px;" src="/assets/devianart_logo.png" /></a>
                  <p class="line"></p>
              </div>
          </div>
          </span>
      </div>
  </div>
</div>
  </div>



<a style="padding-left: 15px; margin-right: auto;" id="next"><img style="width: 100px; height: 29px;" src="/assets/arrow_right.png" alt="next"></a>
</div>


<script> 
try {
    slideIndex = 1;
    prev = document.getElementById ('prev');
    next = document.getElementById ('next');
} catch (e) {
    let slideIndex = 1;
    let prev = document.getElementById ('prev');
    let next = document.getElementById ('next');
}
showSlides(slideIndex);

next.addEventListener ("click", function () {
  showSlides(slideIndex += 1);
});

prev.addEventListener ("click", function () {
  showSlides(slideIndex -= 1);
});

function currentSlide(n) {
  showSlides(slideIndex = n);
}


function showSlides(n) {
    let slides = document.getElementsByClassName("myslide");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
        slideIndex = slides.length;
    }
 
    for (let slide of slides) {
        slide.style.display = "none";
    }
    slides[slideIndex - 1].style.display = "flex";    
  }
</script> 