<body style="text-align: center; background-image: url('/assets/guild.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
    </br><h1>Editing Guild</h1>
    <%= render 'edit_form', guild: @guild %></br>
    <%= link_to 'Back to Guild', guild_path(@guild), class: "button_make_officer" %>
</body>