<body style="background-image: url('/assets/chat.gif'); background-size: cover; height: 100vh; padding:0; margin:0; text-align: center;">

<h1> Create new room </h1>
    <%= render 'form', chat_room: @chat_room %>
</body>