<body style="background-image: url('https://media.giphy.com/media/JUwa2qSoTwcxv0gFJh/giphy.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
    <div class="start_page">
        <a href="/users/auth/marvin"><button class="button_log_intra42", style="margin-top: 100px;"><img style="width: 60px; border-radius: 20px;" src="https://static-s.aa-cdn.net/img/ios/1475507162/c276b9a305980838a7c4daad37222a87?v=1" alt="Login in Marvin"> <p style="margin-top: -10px;">Log in Intra 42</p></button></a>
    </div>
<body>